@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

@await Html.PartialAsync("_Header")

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@await Html.PartialAsync("_Footer")