@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout";
}

@await Html.PartialAsync("_Header")

<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@await Html.PartialAsync("_Footer")